@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&family=Roboto:wght@300;400;700&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-main:'Open Sans', sans-serif;
    --font-input:'Roboto', sans-serif;
    --color-sucess:#007200;
    --color-error:#d00000;
    --Border-color:#6b9080;
    --Bg-color:#eaf4f4;
}

html {
    font-size: 16px;
}

img{
    width: 100%;
    height: auto;
}

body {
    background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    background-color: #fff;
    min-width: 20rem;
    padding: 1rem;
}
.form_control {
    padding: 0.5rem;
    position: relative;
}

.heading {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #fff;
    border-radius: 5px;
}

.form_control label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}

.form_control input {
    display: block;
    padding: 0.9rem ;
    width: 100%;
    border: none;
    border-radius: 3px;
    margin-bottom: 0.2rem;
    background-color: var(--Bg-color);
}

.form_control.sucess input {
    outline: none;
    border-bottom: 2px solid var(--color-sucess);
}

.form_control.form_control.error input {
    outline: none;
    border-bottom: 2px solid var(--color-error);
}

.form_control i {
    position: absolute;
    top: 50px;
    right: 20px;
    visibility: hidden;
    font-size: 0.8rem;
}

.form_control input:focus{
    border: none;
    outline: none;
}

::placeholder{
    font-size: 0.9rem;
}

.form_control.sucess .fa-circle-check {
    color: var(--color-sucess);
    visibility: visible;
}

.form_control.error .fa-circle-exclamation {
    color: var(--color-error);
    visibility: visible;
}

.form_control span {
    visibility: hidden;
    position: absolute;
}

.form_control.error span {
    font-size: 0.8rem;
    color: var(--color-error);
    visibility: visible;
}

.form_control.sucess span {
    font-size: 0.8rem;
    color: var(--color-sucess);
    visibility: visible;
}


.form button {
    padding: 0.8rem;
    display: block;
    width: 90%;
    margin: auto;
    color: #fff;
    background-color: var(--color-sucess);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    margin-top:1.5rem;
    margin-bottom: 1rem;
}



